@model Bus

<form method="post">
    <div class="border p-3 mt-4 border-danger border-bottom">
        <div class="mb-3">
            <label asp-for="Fiyat"></label>
            <input asp-for="Fiyat" form-control border-danger />
            <span asp-validation-for="Fiyat" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="KalkisTarihi"></label>
            <input asp-for="KalkisTarihi" form-control border-danger />
            <span asp-validation-for="KalkisTarihi" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-outline-danger">Otobüs Ekle</button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
            }
